%% -*- erlang -*-

{base_dir, ".rebar3"}.

{profiles, [
            {prod, [
                    {erl_opts, [
                                warnings_as_errors
                               ]}
                   ]},
            {test, [
                    {erl_opts, [
                                bin_opt_info,
                              % debug_info % default
                              % {d,'TEST'} % default
                                warn_export_all,
                                warn_export_vars,
                                warn_obsolete_guard,
                                warn_unused_import
                               ]},
                    {ct_opts, [
                               {spec, [
                                       "test/conf/default.spec"
                                      ]}
                              ]}
                   ]}
           ]}.
