%% -*- erlang -*-
[
 {inets, [
          {services, [
                      {httpd, [
                               {port, 8090},
                               {server_name, "httpd_8090"},
                               {server_root, "."},
                               {document_root, "examples/www"},
                               {modules, [mod_esi]},
                               {disable_chunked_transfer_encoding_send, true},
                               {erl_script_alias, {"/esi", [promexp]}}
                              ]}
                     ]}
         ]},
 {promexp, [
          % {collector, [
          %              {"m", 16#0001, {promexp_collector_erts, collect_memory, []}},
          %              {"s", 16#03dd, {promexp_collector_erts, collect_statistics, []}},
          %              {"i", 16#0000, {promexp_collector_erts, collect_system_info, []}}
          %             ]}
           ]}
].
